body {
  background-color: white;
  color: #606060;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  padding: 10px;
  width: 650px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #191919;
    color: rgba(255, 255, 255, 0.7);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div#loader {
  animation: spin 0.5s linear infinite;
  border: 3px solid #909090;
  border-top-color: #8d20ae;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

@media (prefers-color-scheme: dark) {
  div#loader {
    border-color: rgba(255, 255, 255, 0.2);
    border-top-color: #8d20ae;
  }
}

ul + div#loader {
  margin-top: 10px;
}

a#open-extension-settings {
  color: #3d7e9a;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a#open-extension-settings {
    color: #0a84ff;
  }
}

a#open-extension-settings:hover,
a#open-extension-settings:focus,
a#open-extension-settings:active {
  text-decoration: underline;
}

ul {
  margin: 0;
  max-width: 700px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

li:last-of-type {
  margin: 0;
}

a.video {
  color: #606060;
  display: flex;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  a.video {
    color: rgba(255, 255, 255, 0.7);
  }
}

div#img {
  background-position: left, top;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  height: 120px;
  margin-right: 5px;
  width: 210px;
}

div#information {
  padding: 3px;
}

span {
  display: block;
  margin-bottom: 3px;
}

span#title {
  color: #030303;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

@media (prefers-color-scheme: dark) {
  span#title {
    color: white;
  }
}
