body {
  background-color: #202023;
  color: rgba(255, 255, 255, 0.7);
}

button {
  background-color: rgba(249,249,250,0.05);
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 8px;
}

button:hover,
button:focus,
button#download-backup:active {
  background-color: rgba(249,249,250,0.09);
}

button#download-backup {
  width: 167px;
}

form#apply-backup-form {
  align-items: center;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  margin-top: 20px;
}

label#apply-backup-label {
  grid-column: 1;
  grid-row: 1;
}

button#apply-backup-button {
  grid-column: 2;
  grid-row: 1;
}

textarea#apply-backup-input {
  background-color: transparent;
  border: none;
  color:white;
  font-family: monospace;
  font-size: 1em;
  grid-column: 1 / 3;
  grid-row: 2;
  height: 400px;
  resize: none;
}
